<style extract>
    .--wrapper {
        padding: 20px;
        width: 800px;
        margin: 0 auto;
    }
    .--title {
        border-bottom: 2px solid black;
    }
</style>

<!-- Regular template content -->

<div class="--wrapper">
    <div class="--title"><h1>Example Component B</h1></div>
</div>
